In [30]:
import pandas as pd
import numpy as np
import scipy.constants as const
import handcalcs.render

In [31]:
%%render
f_0  = 9.18*const.giga
lambda_0 = const.c/f_0

In [11]:
#Рупорная антенна
data = {
    "Расстояние, на которое экран перемещен,мм":
              [160,163,166,169,173,176,179,182,186,189],
    "Umax,мВ":[6.7,7.1,7.8,7.6,6.8,6.6,7.2,7.3,6.8,6.8],
    "Umin,мВ":[4.8,4.2,4.1,4.2,4.8,4.8,4.2,4.2,4.8,4.6]
       }
horn_antenna = pd.DataFrame(data)
horn_antenna

   Расстояние, на которое экран перемещен,мм  Umax,мВ  Umin,мВ
0                                        160      6.7      4.8
1                                        163      7.1      4.2
2                                        166      7.8      4.1
3                                        169      7.6      4.2
4                                        173      6.8      4.8
5                                        176      6.6      4.8
6                                        179      7.2      4.2
7                                        182      7.3      4.2
8                                        186      6.8      4.8
9                                        189      6.8      4.6

In [52]:
horn_antenna["КСВН"] = round(np.sqrt(horn_antenna["Umax,мВ"]/horn_antenna["Umin,мВ"]),2)
#мВ/мВ
horn_antenna["G_oi"] = 4*np.pi*2*horn_antenna["Расстояние, на которое экран перемещен,мм"]/lambda_0 
#оставляем миллиметры
horn_antenna["G_oi"] = round(horn_antenna["G_oi"]*(horn_antenna["КСВН"] - 1)/(horn_antenna["КСВН"] + 1),2)
#возможна ошибка в формуле
horn_antenna

   Расстояние, на которое экран перемещен,мм  Umax,мВ  Umin,мВ  КСВН      G_oi
0                                        160      6.7      4.8  1.18  10167.12
1                                        163      7.1      4.2  1.30  16362.24
2                                        166      7.8      4.1  1.38  20397.48
3                                        169      7.6      4.2  1.35  19370.85
4                                        173      6.8      4.8  1.19  11550.94
5                                        176      6.6      4.8  1.17  10611.18
6                                        179      7.2      4.2  1.31  18486.92
7                                        182      7.3      4.2  1.32  19319.47
8                                        186      6.8      4.8  1.19  12418.93
9                                        189      6.8      4.6  1.22  14414.29

In [53]:
#КСВН
#round(sum(horn_antenna["G_oi"])/len(horn_antenna["G_oi"]),2)
G_0 = round(horn_antenna["G_oi"].mean(),2)
G_0

15309.94

In [54]:
round(10*np.log10(G_0),2)# в дБ

41.85

In [57]:
#Sзффективная
S_ef = 1/(4*np.pi)*G_0*(lambda_0)**2
round(S_ef,2)

1.3